<div class='form-word'>
    <div class="mandatory">
        <div class="block">
            <div class="checkbox-multiple-dibi">
                <input name="multipleDibi" id="multipleDibi" type="checkbox" [(ngModel)]="multipleDibi">
                <label for="multipleDibi">Plusieurs suggestions Dibi à voter</label>
            </div>
            <div class="label-input" *ngIf="!multipleDibi">
                <span class="label">Dibi</span>
                <div class="input-and-mandatory-logo">
                    <input [className]="word.partOfSpeech" type="text" (input)="checkFormat($event, 'dibi')"
                        [(ngModel)]="word.dibi">
                    <img class="mandatory" *ngIf="!word.dibi" src="assets/mandatory.svg">
                </div>
            </div>
            <div class="multiple-dibi" *ngIf="multipleDibi">
                <div class="dibi-row">
                    <span class="dibi">Dibi</span>
                    <span class="description">Description du choix</span>
                </div>
                <div class="dibi-row" *ngFor="let dibiSuggestion of dibiSuggestions; let i = index;">
                    <input [className]="'dibi ' + word.partOfSpeech" type="text" [(ngModel)]="dibiSuggestion.dibi">
                    <input class="description" type="text" [(ngModel)]="dibiSuggestion.description">
                    <img *ngIf="i <= 1 && !dibiSuggestions[i].dibi" class="mandatory" src="assets/mandatory.svg">
                    <img *ngIf="i > 1" src="assets/trash-solid.svg" (click)="removeRowSuggestion(i)"
                        title="Retirer Prposition">
                </div>
                <img *ngIf="dibiSuggestions.length < 12" class="new-row" src="assets/plus-solid.svg"
                    (click)="addRowSuggestion()" title="Nouvelle Proposition">
            </div>
            <span class="help">Un mot commençant par une majuscule. Particules en minuscule avec un "-".</span>
        </div>
        <div class="block">
            <div class="label-input">
                <span class="label">Français</span>
                <div class="input-and-mandatory-logo">
                    <input type="text" (input)="checkFormat($event, 'french')" [(ngModel)]="word.french">
                    <img class="mandatory" *ngIf="!word.french" src="assets/mandatory.svg">
                </div>
            </div>
            <span class="help">Traduction en Français, un ou plusieurs mots commençant par des majuscules, séparés
                par des virgules.</span>
        </div>
        <div class="block">
            <div class="label-input">
                <span class="label">Anglais</span>
                <div class="input-and-mandatory-logo">
                    <input type="text" (input)="checkFormat($event, 'english')" [(ngModel)]="word.english">
                </div>
            </div>
            <span class="help">Traduction en Anglais, un ou plusieurs mots commençant par des majuscules, séparés
                par des virgules. Facultatif.</span>
        </div>
        <div class="block">
            <div class="label-input">
                <span class="label">Nature</span>
                <div class="input-and-mandatory-logo">
                    <select [className]="word.partOfSpeech" [(ngModel)]="word.partOfSpeech">
                        <option value="Noun">Nom</option>
                        <option value="Pronoun">Pronom</option>
                        <option value="Verb">Verbe</option>
                        <option value="Adjective">Adjectif</option>
                        <option value="Adverb">Adverbe</option>
                        <option value="Conjonction">Conjonction</option>
                        <option value="Interjection">Interjection</option>
                        <option value="Particule">Particule</option>
                        <option value="SpiritWord">Mot d'esprit</option>
                    </select>
                </div>
            </div>
            <span class="help">Nature grammaticale (ou classe grammaticale).</span>
        </div>
    </div>
    <div class="facultative">
        <!-- <div class="block">
            <div class="label-input">
                <span class="label">Créateur</span>
                <div class="input-and-mandatory-logo">
                    <input type="text" [(ngModel)]="word.author" placeholder="pseudo#code">
                    <img class="mandatory" *ngIf="!word.author" src="assets/mandatory.svg">
                </div>
            </div>
            <span class="help">Créateur du mot, celui qui l'a proposé à l'origine (pseudo Discord).</span>
        </div> -->
        <div class="block">
            <div class="label-input">
                <span class="label">Description</span>
                <div class="input-and-mandatory-logo">
                    <textarea name="new-word-description" id="new-word-description" rows="5"
                        [(ngModel)]="word.description"></textarea>
                </div>
            </div>
            <span class="help">Description, étymologie, exemples, règles grammaticales, lore, etc.
                Facultatif.</span>
        </div>
    </div>
    <div class="buttons">
        <button
            *ngIf="(word.dibi && word.french) || (dibiSuggestions[0].dibi && dibiSuggestions[1].dibi && word.french)"
            (click)="sendWord()">{{use === 'suggest' ? 'Proposer' : ''}}</button>
    </div>
</div>