$padding: 12px;
$border-radius: 4px;
$border: 1px solid #757473;

.form-word {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    border-radius: $border-radius;
    background-color: #444240;
    padding: 12px;

    .block {
        display: flex;
        flex-direction: column;
        margin-bottom: $padding;

        .label-input {
            display: flex;
            align-items: center;

            .label {
                width: 20%;
                margin-right: $padding;
            }

            .input-and-mandatory-logo {
                display: flex;
                align-items: center;
                width: 80%;

                .mandatory {
                    height: 18px;
                    width: 18px;
                    margin-left: 6px;
                }

                input,
                select,
                textarea {
                    font-size: 16px;
                    flex-grow: 1;
                }
            }
        }

        .checkbox-multiple-dibi {
            display: flex;
            align-items: center;
            margin-bottom: $padding;

            input {
                cursor: pointer;
                height: 18px;
                width: 18px;
            }

            label {
                cursor: pointer;
                padding-left: $padding;
            }
        }

        .multiple-dibi {
            display: flex;
            flex-direction: column;

            .dibi-row {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                width: 100%;

                span {
                    font-size: 14px;
                }

                .dibi {
                    width: 20%;
                    margin-right: $padding;
                }

                .description {
                    width: calc(75% - (2 * #{$padding}));
                    margin-right: $padding;
                }

                img {
                    cursor: pointer;
                    width: 5%;
                    height: 16px;
                    width: 16px;
                }
            }

            .new-row {
                cursor: pointer;
                height: 20px;
                width: 20px;
            }
        }

        .help {
            margin-top: 6px;
            margin-right: $padding;
            font-size: 13px;
            color: #ccc;
        }
    }

    .mandatory {
    }

    .facultative {
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .green-mes {
            color: #8e8;
        }

        .yellow-mes {
            color: #ee8;
        }

        .red-mes {
            color: #e88;
        }
    }
}

@media screen and (max-width: 800px) {
    .form-new-word {
        .block {
            .label-input {
                .label {
                    width: 20%;
                    font-size: 14px;
                    margin-right: $padding;
                    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
                    white-space: -webkit-pre-wrap; /* Chrome & Safari */
                    white-space: -pre-wrap; /* Opera 4-6 */
                    white-space: -o-pre-wrap; /* Opera 7 */
                    white-space: pre-wrap; /* CSS3 */
                    word-wrap: break-word; /* Internet Explorer 5.5+ */
                    word-break: break-all;
                    white-space: normal;
                }
            }
        }
    }
}
