$padding: 12px;
$border-radius: 4px;
$border: 1px solid #757473;

.body {
    display: flex;
    flex-direction: column;
    padding: $padding;
    height: 100%;
    width: 100%;
    overflow: auto;

    .title-description {
        margin-bottom: $padding;
    }

    .form-new-word {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 250px;
        max-width: 500px;

        .block {
            display: flex;
            flex-direction: column;
            margin-bottom: $padding;

            .label-input {
                display: flex;
                align-items: center;

                .label {
                    width: 20%;
                    margin-right: $padding;
                }

                input,
                select,
                textarea {
                    width: 80%;
                    font-size: 16px;
                }
            }

            .help {
                margin-top: 6px;
                margin-right: $padding;
                font-size: 13px;
                color: #ccc;
            }
        }

        .mandatory {
        }

        .facultative {
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .green-mes {
                color: #8e8;
            }

            .yellow-mes {
                color: #ee8;
            }

            .red-mes {
                color: #e88;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .body {
        .form-new-word {
            .block {
                .label-input {
                    .label {
                        width: 20%;
                        font-size: 14px;
                        margin-right: $padding;
                        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
                        white-space: -webkit-pre-wrap; /* Chrome & Safari */
                        white-space: -pre-wrap; /* Opera 4-6 */
                        white-space: -o-pre-wrap; /* Opera 7 */
                        white-space: pre-wrap; /* CSS3 */
                        word-wrap: break-word; /* Internet Explorer 5.5+ */
                        word-break: break-all;
                        white-space: normal;
                    }
                }
            }
        }
    }
}
