<div class="body">
    <div class="container">
        <div class="options">

        </div>
        <div class="table" *ngIf="allLoaded">
            <div class="row-header">
                <!-- <div class="state">
                    <span>État</span>
                </div> -->
                <div class="author-date">
                    <span>Auteur et date</span>
                </div>
                <div class="suggestion">
                    <span>Suggestion</span>
                </div>
                <div class="vote">
                    <span>Vote</span>
                </div>
                <div class="admin">
                    <span>Admin</span>
                </div>
            </div>
            <div class="row-suggestion" *ngFor="let suggestion of suggestions">
                <!-- <div class="state">
                    <ng-container [ngSwitch]="suggestion.state">
                        <img *ngSwitchCase="'suggested'" src="assets/discord_emojis/bulb.svg">
                        <img *ngSwitchCase="'modified'" src="assets/discord_emojis/bulb.svg">
                        <img *ngSwitchCase="'accepted'" src="assets/discord_emojis/white_check_mark.svg">
                        <img *ngSwitchCase="'refused'" src="assets/discord_emojis/no_entry_sign.svg">
                        <img *ngSwitchCase="'added'" src="assets/discord_emojis/bookmark.svg">
                    </ng-container>
                </div> -->
                <div class="author-date">
                    <div class="author">
                        <div class="profile-picture">
                            <img src="{{profiles[suggestion.author].user.photoUrl}}" alt="Image de profil Google">
                        </div>
                        <div class="names">
                            <!-- <span>{{profiles[suggestion.author].user.name}}</span> -->
                            <span>{{profiles[suggestion.author].discordPseudo}}#{{profiles[suggestion.author].discordTag}}</span>
                        </div>
                    </div>
                    <div class="date">
                        <span>{{suggestion.date | date:'dd/MM/YYYY - HH:mm:ss'}}</span>
                    </div>
                </div>
                <div class="suggestion">
                    <div class="word" *ngFor="let word of suggestion.words">
                        <div class="french">
                            <span>{{word.french + (word.english ? ' / ' + word.english : '')}}</span>
                        </div>
                        <div class="dibis">
                            <div class="dibi" *ngFor="let dibi of word.dibis; let indexDibi = index;">
                                <img *ngIf="word.dibis.length > 1" src="assets/discord_emojis/letter_{{indexDibi}}.svg"
                                    alt="Icône lettre proposition à voter">
                                <span [className]="word.partOfSpeech">{{dibi.dibi}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <span>{{suggestion.description}}</span>
                    </div>
                </div>
                <div class="vote">
                    <div class="vote-and-comment">
                        <div class="two-arrows">
                            <div class="arrow-value">
                                <img src="assets/discord_emojis/arrow_up.svg" alt="Voter +">
                                <span>{{suggestion.upVotes.length}}</span>
                            </div>
                            <div class="arrow-value">
                                <img src="assets/discord_emojis/arrow_down.svg" alt="Voter -">
                                <span>{{suggestion.downVotes.length}}</span>
                            </div>
                        </div>
                        <div class="comment">
                            <img src="assets/discord_emojis/comment.svg" alt="Commenter">
                        </div>
                    </div>
                    <div class="choose-dibi-option" *ngIf="suggestion.words[0].dibis.length > 1">
                        <div class="option-stars" *ngFor="let item of suggestion.words[0].dibis">

                        </div>
                    </div>
                </div>
                <div class="admin">
                </div>
            </div>
        </div>
    </div>
</div>