<div class="body">
    <div class="container">
        <div class="nav">
            <h2>Règles grammaticales</h2>
            <div [className]="false ? 'rule rule-selected' : 'rule'" *ngFor="let rule of allGrammarRules" (click)="openRule(rule)">
                <h4>{{rule.title}}</h4>
            </div>
            <div *ngIf="adminConnected" class="new-rule" (click)="openNewRule()">
                <h4>Nouvelle règle</h4>
            </div>
        </div>
        <div class=content>
            <ng-container *ngIf="newRule; else elseTemplate">
                <app-new-rule [adminConnected]="adminConnected" [pwd]="pwd"></app-new-rule>
            </ng-container>
            <ng-template #elseTemplate>
                <div class="content-max-width">
                    <div *ngIf="selectedRule" class="grammar-rule">
                        <h2>{{selectedRule.title}}</h2>
                        <div *ngFor="let section of selectedRule.sections" class="section">
                            <div class="text"><span>{{section.text}}</span></div>
                            <div *ngFor="let example of section.examples" class="example">
                                <div class="ex-label">
                                    <span>Exemple</span>
                                </div>
                                <div class="ex-content">
                                    <div class="dibi"><span>{{example.dibi}}</span></div>
                                    <div *ngIf="example.french" class="french"><span>{{example.french}}</span></div>
                                    <div *ngIf="example.description" class="description"><span>{{example.description}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="adminConnected" class="buttons">
                            <img (click)="delete(selectedRule)" src="./assets/trash-solid.svg" title="Supprimer">
                            <img (click)="edit(selectedRule)" src="./assets/pen-solid.svg" title="Modifier">
                        </div>
                    </div>
                    <div *ngIf="editing" class="grammar-rule-edit">
                        <div class="block">
                            <div class="label-input">
                                <span class="label">Titre</span>
                                <input type="text" [(ngModel)]="editing.title">
                            </div>
                        </div>
                        <div *ngFor="let section of editing.sections" class="section">
                            <div class="block">
                                <div class="label-input">
                                    <span class="label">Règle</span>
                                    <textarea type="text" [(ngModel)]="section.text"></textarea>
                                </div>
                            </div>
                            <div *ngFor="let example of section.examples" class="example">
                                <div class="ex-label">
                                    <span>Exemple</span>
                                </div>
                                <div class="ex-content">
                                    <div class="block">
                                        <div class="label-input">
                                            <span class="label">Dibi</span>
                                            <input type="text" [(ngModel)]="example.dibi">
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="label-input">
                                            <span class="label">Traduction</span>
                                            <input type="text" [(ngModel)]="example.french">
                                        </div>
                                    </div>
                                    <div class="block">
                                        <div class="label-input">
                                            <span class="label">Description</span>
                                            <input type="text" [(ngModel)]="example.description">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <span [ngSwitch]="message.color">
                                <p class="green-mes" *ngSwitchCase="'green'">{{message.mes}}</p>
                                <p class="yellow-mes" *ngSwitchCase="'yellow'">{{message.mes}}</p>
                                <p class="red-mes" *ngSwitchCase="'red'">{{message.mes}}</p>
                                <p *ngSwitchDefault></p>
                            </span>
                            <div class="right">
                                <button (click)="edit(editing)">Annuler</button>
                                <button (click)="editRule()">Modifier</button>
                            </div>
                        </div>
                    </div>
                </div>   
            </ng-template>
        </div>
    </div>
</div>
