@import url("https://themes.googleusercontent.com/fonts/css?kit=GGSdX60RftK6aXtKOXIPyxyByNVkZsQI5tdlcGmdDrY");

* {
    color: 000000;
}

.lst-kix_vzn3mcwzhjxp-8 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-6 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-6;
}

.lst-kix_vzn3mcwzhjxp-3 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-4 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-5 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-6 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-7 > li:before {
    content: "-  ";
}

ol.lst-kix_jd9v1avggx2i-8.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-8 0;
}

ol.lst-kix_tdokje2duh74-6.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-6 0;
}

ol.lst-kix_jd9v1avggx2i-1.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-1 0;
}

.lst-kix_tdokje2duh74-3 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-3;
}

.lst-kix_83th6drchrs5-8 > li:before {
    content: "-  ";
}

.lst-kix_83th6drchrs5-0 > li:before {
    content: "-  ";
}

.lst-kix_83th6drchrs5-2 > li:before {
    content: "-  ";
}

.lst-kix_83th6drchrs5-1 > li:before {
    content: "-  ";
}

ul.lst-kix_4rvfpd8wl3m2-4 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-5 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-6 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-7 {
    list-style-type: none;
}

.lst-kix_83th6drchrs5-6 > li:before {
    content: "-  ";
}

ul.lst-kix_4rvfpd8wl3m2-8 {
    list-style-type: none;
}

.lst-kix_83th6drchrs5-7 > li:before {
    content: "-  ";
}

ul.lst-kix_4rvfpd8wl3m2-0 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-1 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-2 {
    list-style-type: none;
}

ul.lst-kix_4rvfpd8wl3m2-3 {
    list-style-type: none;
}

.lst-kix_83th6drchrs5-5 > li:before {
    content: "-  ";
}

.lst-kix_83th6drchrs5-4 > li:before {
    content: "-  ";
}

.lst-kix_83th6drchrs5-3 > li:before {
    content: "-  ";
}

ol.lst-kix_tdokje2duh74-1.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-1 0;
}

ol.lst-kix_jd9v1avggx2i-3.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-3 0;
}

.lst-kix_obtrw5frkiuq-5 > li:before {
    content: "-  ";
}

.lst-kix_obtrw5frkiuq-7 > li:before {
    content: "-  ";
}

ul.lst-kix_td0rs8n842nz-7 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-6 {
    list-style-type: none;
}

.lst-kix_obtrw5frkiuq-3 > li:before {
    content: "-  ";
}

ul.lst-kix_td0rs8n842nz-8 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-7 > li:before {
    content: "-  ";
}

ul.lst-kix_xl2b8xd1sopi-0 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-5 > li:before {
    content: "-  ";
}

ul.lst-kix_xl2b8xd1sopi-2 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-4.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-4 0;
}

ul.lst-kix_td0rs8n842nz-1 {
    list-style-type: none;
}

.lst-kix_jd9v1avggx2i-2 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-2;
}

ul.lst-kix_xl2b8xd1sopi-1 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-0 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-3 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-2 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-5 {
    list-style-type: none;
}

ul.lst-kix_td0rs8n842nz-4 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-6.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-6 0;
}

ul.lst-kix_xl2b8xd1sopi-8 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-1 > li:before {
    content: "-  ";
}

ul.lst-kix_xl2b8xd1sopi-7 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-7 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-8 {
    list-style-type: none;
}

ul.lst-kix_xl2b8xd1sopi-4 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-3 > li:before {
    content: "-  ";
}

ul.lst-kix_gnwqejqyiyq0-0 {
    list-style-type: none;
}

ul.lst-kix_xl2b8xd1sopi-3 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-1 {
    list-style-type: none;
}

ul.lst-kix_xl2b8xd1sopi-6 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-2 {
    list-style-type: none;
}

ul.lst-kix_xl2b8xd1sopi-5 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-3 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-1 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-2 {
    list-style-type: none;
}

.lst-kix_tfi2d617o379-0 > li:before {
    content: "\0025cf  ";
}

ol.lst-kix_jd9v1avggx2i-0 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-5 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-6 {
    list-style-type: none;
}

.lst-kix_tfi2d617o379-2 > li:before {
    content: "\0025a0  ";
}

ol.lst-kix_jd9v1avggx2i-3 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-4 {
    list-style-type: none;
}

.lst-kix_jd9v1avggx2i-3 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-3;
}

.lst-kix_tfi2d617o379-6 > li:before {
    content: "\0025cf  ";
}

.lst-kix_tfi2d617o379-4 > li:before {
    content: "\0025cb  ";
}

.lst-kix_obtrw5frkiuq-1 > li:before {
    content: "-  ";
}

ul.lst-kix_tfi2d617o379-8 {
    list-style-type: none;
}

.lst-kix_td0rs8n842nz-0 > li:before {
    content: "-  ";
}

ul.lst-kix_b2p4v6xzwnpq-0 {
    list-style-type: none;
}

.lst-kix_5tiiygz9ry2-4 > li:before {
    content: "-  ";
}

ul.lst-kix_b2p4v6xzwnpq-2 {
    list-style-type: none;
}

ul.lst-kix_b2p4v6xzwnpq-1 {
    list-style-type: none;
}

.lst-kix_5tiiygz9ry2-8 > li:before {
    content: "-  ";
}

.lst-kix_5tiiygz9ry2-0 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-6 > li:before {
    content: "-  ";
}

.lst-kix_td0rs8n842nz-6 > li:before {
    content: "-  ";
}

.lst-kix_5tiiygz9ry2-2 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-4 > li:before {
    content: "-  ";
}

.lst-kix_td0rs8n842nz-8 > li:before {
    content: "-  ";
}

.lst-kix_tfi2d617o379-8 > li:before {
    content: "\0025a0  ";
}

.lst-kix_vzn3mcwzhjxp-1 > li:before {
    content: "-  ";
}

ul.lst-kix_b2p4v6xzwnpq-8 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-0 {
    list-style-type: none;
}

ul.lst-kix_b2p4v6xzwnpq-7 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-2 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-1 {
    list-style-type: none;
}

ul.lst-kix_b2p4v6xzwnpq-4 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-4 {
    list-style-type: none;
}

.lst-kix_5tiiygz9ry2-6 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-8 > li:before {
    content: "-  ";
}

ul.lst-kix_b2p4v6xzwnpq-3 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-3 {
    list-style-type: none;
}

ul.lst-kix_b2p4v6xzwnpq-6 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-6 {
    list-style-type: none;
}

ul.lst-kix_b2p4v6xzwnpq-5 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-5 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-4 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-8 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-5 {
    list-style-type: none;
}

ul.lst-kix_83th6drchrs5-7 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-6 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-7 {
    list-style-type: none;
}

ul.lst-kix_gnwqejqyiyq0-8 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-0 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-4 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-4;
}

.lst-kix_td0rs8n842nz-4 > li:before {
    content: "-  ";
}

ul.lst-kix_5zgxkyv6wnvs-6 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-5 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-8 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-7 {
    list-style-type: none;
}

.lst-kix_td0rs8n842nz-2 > li:before {
    content: "-  ";
}

ul.lst-kix_5zgxkyv6wnvs-2 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-1 {
    list-style-type: none;
}

.lst-kix_1wu9um4hlk8o-3 > li:before {
    content: "-  ";
}

ul.lst-kix_5zgxkyv6wnvs-4 {
    list-style-type: none;
}

ul.lst-kix_5zgxkyv6wnvs-3 {
    list-style-type: none;
}

.lst-kix_u0h4k0ylgnh8-7 > li:before {
    content: "-  ";
}

.lst-kix_u0h4k0ylgnh8-8 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-0 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-4 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-1 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-6 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-6;
}

.lst-kix_u0h4k0ylgnh8-3 > li:before {
    content: "-  ";
}

.lst-kix_u0h4k0ylgnh8-4 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-7 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-8 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-8 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-4 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-8 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-8;
}

.lst-kix_xl2b8xd1sopi-1 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-5 > li:before {
    content: "-  ";
}

ol.lst-kix_jd9v1avggx2i-4.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-4 0;
}

.lst-kix_elu26p64meg6-8 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-1 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-2 > li:before {
    content: "-  ";
}

.lst-kix_elu26p64meg6-5 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-0 > li:before {
    content: "-  ";
}

ol.lst-kix_tdokje2duh74-3.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-3 0;
}

.lst-kix_elu26p64meg6-4 > li:before {
    content: "-  ";
}

ul.lst-kix_n5si6nft4op9-0 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-1 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-6 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-7 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-8 {
    list-style-type: none;
}

.lst-kix_elu26p64meg6-1 > li:before {
    content: "-  ";
}

ul.lst-kix_n5si6nft4op9-2 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-3 {
    list-style-type: none;
}

ul.lst-kix_n5si6nft4op9-4 {
    list-style-type: none;
}

.lst-kix_elu26p64meg6-0 > li:before {
    content: "-  ";
}

ul.lst-kix_n5si6nft4op9-5 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-3 > li:before {
    content: "(" counter(lst-ctn-kix_tdokje2duh74-3, decimal) ") ";
}

.lst-kix_tdokje2duh74-0 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-0, decimal) ") ";
}

.lst-kix_u0h4k0ylgnh8-0 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-7 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-7;
}

.lst-kix_obtrw5frkiuq-2 > li:before {
    content: "-  ";
}

.lst-kix_obtrw5frkiuq-6 > li:before {
    content: "-  ";
}

ul.lst-kix_u0h4k0ylgnh8-0 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-2 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-6 > li:before {
    content: "-  ";
}

ul.lst-kix_u0h4k0ylgnh8-1 {
    list-style-type: none;
}

ol.lst-kix_jd9v1avggx2i-0.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-0 0;
}

.lst-kix_7p5z32b4p67l-2 > li:before {
    content: "-  ";
}

ul.lst-kix_vzn3mcwzhjxp-8 {
    list-style-type: none;
}

ul.lst-kix_vzn3mcwzhjxp-7 {
    list-style-type: none;
}

ul.lst-kix_vzn3mcwzhjxp-6 {
    list-style-type: none;
}

ul.lst-kix_vzn3mcwzhjxp-5 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-8 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-7 {
    list-style-type: none;
}

.lst-kix_n5si6nft4op9-2 > li:before {
    content: "-  ";
}

ul.lst-kix_u0h4k0ylgnh8-4 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-3 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-6 {
    list-style-type: none;
}

ul.lst-kix_u0h4k0ylgnh8-5 {
    list-style-type: none;
}

.lst-kix_tfi2d617o379-1 > li:before {
    content: "\0025cb  ";
}

.lst-kix_jd9v1avggx2i-0 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-0;
}

ol.lst-kix_tdokje2duh74-7.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-7 0;
}

.lst-kix_okojd8n8fkuq-3 > li:before {
    content: "-  ";
}

ul.lst-kix_vzn3mcwzhjxp-4 {
    list-style-type: none;
}

.lst-kix_4rvfpd8wl3m2-0 > li:before {
    content: "\0025cf  ";
}

ul.lst-kix_vzn3mcwzhjxp-3 {
    list-style-type: none;
}

ul.lst-kix_vzn3mcwzhjxp-2 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-7 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-7, lower-latin) ". ";
}

ul.lst-kix_vzn3mcwzhjxp-1 {
    list-style-type: none;
}

ul.lst-kix_vzn3mcwzhjxp-0 {
    list-style-type: none;
}

.lst-kix_okojd8n8fkuq-7 > li:before {
    content: "-  ";
}

.lst-kix_tfi2d617o379-5 > li:before {
    content: "\0025a0  ";
}

.lst-kix_td0rs8n842nz-1 > li:before {
    content: "-  ";
}

.lst-kix_5tiiygz9ry2-3 > li:before {
    content: "-  ";
}

.lst-kix_5tiiygz9ry2-7 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-4 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-8 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-5 > li:before {
    content: "-  ";
}

.lst-kix_td0rs8n842nz-5 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-2 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-0 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-5 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-5;
}

.lst-kix_jd9v1avggx2i-8 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-8, lower-roman) ". ";
}

.lst-kix_4rvfpd8wl3m2-4 > li:before {
    content: "\0025cb  ";
}

.lst-kix_4rvfpd8wl3m2-8 > li:before {
    content: "\0025a0  ";
}

.lst-kix_jd9v1avggx2i-4 > li:before {
    content: "(" counter(lst-ctn-kix_jd9v1avggx2i-4, lower-latin) ") ";
}

.lst-kix_tdokje2duh74-1 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-1;
}

.lst-kix_7p5z32b4p67l-6 > li:before {
    content: "-  ";
}

ol.lst-kix_tdokje2duh74-8.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-8 0;
}

.lst-kix_jd9v1avggx2i-0 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-0, decimal) ") ";
}

.lst-kix_gnwqejqyiyq0-5 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-2 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-6 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-1 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-8 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-7 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-0 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-8 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-8;
}

.lst-kix_gnwqejqyiyq0-3 > li:before {
    content: "-  ";
}

.lst-kix_gnwqejqyiyq0-4 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-5 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-5;
}

ol.lst-kix_tdokje2duh74-0.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-0 0;
}

ol.lst-kix_jd9v1avggx2i-7.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-7 0;
}

.lst-kix_b2p4v6xzwnpq-7 > li:before {
    content: "-  ";
}

.lst-kix_b2p4v6xzwnpq-8 > li:before {
    content: "-  ";
}

.lst-kix_b2p4v6xzwnpq-6 > li:before {
    content: "-  ";
}

.lst-kix_b2p4v6xzwnpq-1 > li:before {
    content: "-  ";
}

.lst-kix_b2p4v6xzwnpq-0 > li:before {
    content: "-  ";
}

ol.lst-kix_jd9v1avggx2i-2.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-2 0;
}

ul.lst-kix_elu26p64meg6-2 {
    list-style-type: none;
}

ul.lst-kix_elu26p64meg6-3 {
    list-style-type: none;
}

ul.lst-kix_elu26p64meg6-4 {
    list-style-type: none;
}

ul.lst-kix_elu26p64meg6-5 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-5.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-5 0;
}

.lst-kix_b2p4v6xzwnpq-2 > li:before {
    content: "-  ";
}

ul.lst-kix_elu26p64meg6-0 {
    list-style-type: none;
}

ul.lst-kix_elu26p64meg6-1 {
    list-style-type: none;
}

.lst-kix_b2p4v6xzwnpq-3 > li:before {
    content: "-  ";
}

.lst-kix_b2p4v6xzwnpq-4 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-4 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-4;
}

ul.lst-kix_elu26p64meg6-6 {
    list-style-type: none;
}

ul.lst-kix_elu26p64meg6-7 {
    list-style-type: none;
}

.lst-kix_b2p4v6xzwnpq-5 > li:before {
    content: "-  ";
}

ul.lst-kix_elu26p64meg6-8 {
    list-style-type: none;
}

.lst-kix_7p5z32b4p67l-5 > li:before {
    content: "-  ";
}

.lst-kix_jd9v1avggx2i-1 > li {
    counter-increment: lst-ctn-kix_jd9v1avggx2i-1;
}

.lst-kix_7p5z32b4p67l-3 > li:before {
    content: "-  ";
}

ul.lst-kix_14irsim56u0g-0 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-0 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-1 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-6 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-6, decimal) ". ";
}

.lst-kix_7p5z32b4p67l-1 > li:before {
    content: "-  ";
}

ul.lst-kix_5tiiygz9ry2-4 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-5 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-2 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-3 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-8 {
    list-style-type: none;
}

ul.lst-kix_5tiiygz9ry2-6 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-4 > li:before {
    content: "(" counter(lst-ctn-kix_tdokje2duh74-4, lower-latin) ") ";
}

ul.lst-kix_5tiiygz9ry2-7 {
    list-style-type: none;
}

.lst-kix_okojd8n8fkuq-0 > li:before {
    content: "-  ";
}

.lst-kix_okojd8n8fkuq-2 > li:before {
    content: "-  ";
}

ul.lst-kix_14irsim56u0g-6 {
    list-style-type: none;
}

.lst-kix_4rvfpd8wl3m2-1 > li:before {
    content: "\0025cb  ";
}

ul.lst-kix_14irsim56u0g-5 {
    list-style-type: none;
}

ul.lst-kix_14irsim56u0g-8 {
    list-style-type: none;
}

ul.lst-kix_14irsim56u0g-7 {
    list-style-type: none;
}

ul.lst-kix_14irsim56u0g-2 {
    list-style-type: none;
}

ul.lst-kix_14irsim56u0g-1 {
    list-style-type: none;
}

ul.lst-kix_14irsim56u0g-4 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-8 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-8, lower-roman) ". ";
}

ul.lst-kix_14irsim56u0g-3 {
    list-style-type: none;
}

.lst-kix_okojd8n8fkuq-8 > li:before {
    content: "-  ";
}

.lst-kix_okojd8n8fkuq-4 > li:before {
    content: "-  ";
}

.lst-kix_okojd8n8fkuq-6 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-3 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-5 > li:before {
    content: "-  ";
}

.lst-kix_14irsim56u0g-7 > li:before {
    content: "-  ";
}

ol.lst-kix_jd9v1avggx2i-5.start {
    counter-reset: lst-ctn-kix_jd9v1avggx2i-5 0;
}

ul.lst-kix_obtrw5frkiuq-7 {
    list-style-type: none;
}

ul.lst-kix_obtrw5frkiuq-6 {
    list-style-type: none;
}

ul.lst-kix_obtrw5frkiuq-5 {
    list-style-type: none;
}

ul.lst-kix_obtrw5frkiuq-4 {
    list-style-type: none;
}

.lst-kix_jd9v1avggx2i-7 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-7, lower-latin) ". ";
}

ul.lst-kix_obtrw5frkiuq-8 {
    list-style-type: none;
}

.lst-kix_14irsim56u0g-1 > li:before {
    content: "-  ";
}

ul.lst-kix_obtrw5frkiuq-3 {
    list-style-type: none;
}

ul.lst-kix_obtrw5frkiuq-2 {
    list-style-type: none;
}

.lst-kix_4rvfpd8wl3m2-3 > li:before {
    content: "\0025cf  ";
}

ul.lst-kix_obtrw5frkiuq-1 {
    list-style-type: none;
}

ul.lst-kix_obtrw5frkiuq-0 {
    list-style-type: none;
}

.lst-kix_4rvfpd8wl3m2-5 > li:before {
    content: "\0025a0  ";
}

.lst-kix_jd9v1avggx2i-1 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-1, lower-latin) ") ";
}

ol.lst-kix_tdokje2duh74-2.start {
    counter-reset: lst-ctn-kix_tdokje2duh74-2 0;
}

.lst-kix_jd9v1avggx2i-3 > li:before {
    content: "(" counter(lst-ctn-kix_jd9v1avggx2i-3, decimal) ") ";
}

.lst-kix_jd9v1avggx2i-5 > li:before {
    content: "(" counter(lst-ctn-kix_jd9v1avggx2i-5, lower-roman) ") ";
}

.lst-kix_4rvfpd8wl3m2-7 > li:before {
    content: "\0025cb  ";
}

.lst-kix_7p5z32b4p67l-7 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-2 > li:before {
    content: "-  ";
}

ul.lst-kix_okojd8n8fkuq-1 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-2 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-0 {
    list-style-type: none;
}

.lst-kix_u0h4k0ylgnh8-6 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-5 > li:before {
    content: "-  ";
}

.lst-kix_1wu9um4hlk8o-6 > li:before {
    content: "-  ";
}

ul.lst-kix_okojd8n8fkuq-7 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-8 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-5 {
    list-style-type: none;
}

.lst-kix_u0h4k0ylgnh8-5 > li:before {
    content: "-  ";
}

ul.lst-kix_okojd8n8fkuq-6 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-3 {
    list-style-type: none;
}

ul.lst-kix_okojd8n8fkuq-4 {
    list-style-type: none;
}

.lst-kix_xl2b8xd1sopi-7 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-6 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-3 > li:before {
    content: "-  ";
}

.lst-kix_elu26p64meg6-7 > li:before {
    content: "-  ";
}

.lst-kix_xl2b8xd1sopi-2 > li:before {
    content: "-  ";
}

.lst-kix_elu26p64meg6-3 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-3 > li:before {
    content: "-  ";
}

.lst-kix_elu26p64meg6-2 > li:before {
    content: "-  ";
}

.lst-kix_elu26p64meg6-6 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-0 > li:before {
    content: "-  ";
}

ul.lst-kix_tfi2d617o379-6 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-7 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-4 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-5 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-2 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-3 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-0 {
    list-style-type: none;
}

ul.lst-kix_tfi2d617o379-1 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-8 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-7 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-6 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-5 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-0 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-4 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-3 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-2 {
    list-style-type: none;
}

ul.lst-kix_1wu9um4hlk8o-1 {
    list-style-type: none;
}

.lst-kix_tdokje2duh74-1 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-1, lower-latin) ") ";
}

.lst-kix_tdokje2duh74-2 > li:before {
    content: "" counter(lst-ctn-kix_tdokje2duh74-2, lower-roman) ") ";
}

ol.lst-kix_tdokje2duh74-4 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-5 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-2 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-3 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-0 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-1 {
    list-style-type: none;
}

.lst-kix_u0h4k0ylgnh8-2 > li:before {
    content: "-  ";
}

ol.lst-kix_tdokje2duh74-8 {
    list-style-type: none;
}

.lst-kix_u0h4k0ylgnh8-1 > li:before {
    content: "-  ";
}

ol.lst-kix_tdokje2duh74-6 {
    list-style-type: none;
}

ol.lst-kix_tdokje2duh74-7 {
    list-style-type: none;
}

.lst-kix_7p5z32b4p67l-8 > li:before {
    content: "-  ";
}

.lst-kix_n5si6nft4op9-8 > li:before {
    content: "-  ";
}

.lst-kix_7p5z32b4p67l-4 > li:before {
    content: "-  ";
}

.lst-kix_obtrw5frkiuq-4 > li:before {
    content: "-  ";
}

.lst-kix_n5si6nft4op9-4 > li:before {
    content: "-  ";
}

.lst-kix_7p5z32b4p67l-0 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-5 > li:before {
    content: "(" counter(lst-ctn-kix_tdokje2duh74-5, lower-roman) ") ";
}

.lst-kix_obtrw5frkiuq-8 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-2 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-2;
}

.lst-kix_4rvfpd8wl3m2-2 > li:before {
    content: "\0025a0  ";
}

.lst-kix_tfi2d617o379-7 > li:before {
    content: "\0025cb  ";
}

.lst-kix_okojd8n8fkuq-1 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-0 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-0;
}

.lst-kix_tfi2d617o379-3 > li:before {
    content: "\0025cf  ";
}

.lst-kix_obtrw5frkiuq-0 > li:before {
    content: "-  ";
}

.lst-kix_okojd8n8fkuq-5 > li:before {
    content: "-  ";
}

.lst-kix_5tiiygz9ry2-5 > li:before {
    content: "-  ";
}

.lst-kix_5zgxkyv6wnvs-7 > li:before {
    content: "-  ";
}

ul.lst-kix_7p5z32b4p67l-5 {
    list-style-type: none;
}

.lst-kix_5tiiygz9ry2-1 > li:before {
    content: "-  ";
}

ul.lst-kix_7p5z32b4p67l-6 {
    list-style-type: none;
}

ul.lst-kix_7p5z32b4p67l-3 {
    list-style-type: none;
}

ul.lst-kix_7p5z32b4p67l-4 {
    list-style-type: none;
}

ul.lst-kix_7p5z32b4p67l-1 {
    list-style-type: none;
}

ul.lst-kix_7p5z32b4p67l-2 {
    list-style-type: none;
}

.lst-kix_14irsim56u0g-6 > li:before {
    content: "-  ";
}

ul.lst-kix_7p5z32b4p67l-0 {
    list-style-type: none;
}

.lst-kix_td0rs8n842nz-7 > li:before {
    content: "-  ";
}

.lst-kix_vzn3mcwzhjxp-0 > li:before {
    content: "-  ";
}

ul.lst-kix_7p5z32b4p67l-7 {
    list-style-type: none;
}

.lst-kix_jd9v1avggx2i-6 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-6, decimal) ". ";
}

ul.lst-kix_7p5z32b4p67l-8 {
    list-style-type: none;
}

.lst-kix_14irsim56u0g-2 > li:before {
    content: "-  ";
}

.lst-kix_4rvfpd8wl3m2-6 > li:before {
    content: "\0025cf  ";
}

.lst-kix_jd9v1avggx2i-2 > li:before {
    content: "" counter(lst-ctn-kix_jd9v1avggx2i-2, lower-roman) ") ";
}

.lst-kix_n5si6nft4op9-0 > li:before {
    content: "-  ";
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
}

.lst-kix_td0rs8n842nz-3 > li:before {
    content: "-  ";
}

.lst-kix_tdokje2duh74-7 > li {
    counter-increment: lst-ctn-kix_tdokje2duh74-7;
}

ol {
    margin: 0;
    padding: 0;
}

table td,
table th {
    padding: 0;
}

.c53 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 145.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c78 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 118pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c60 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 135pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c64 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 147pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 177pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c66 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 159pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c89 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 168.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c23 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 85.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c48 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 293.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c75 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 215.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c77 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 71.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c29 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 538.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c74 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 135pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c39 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 98.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c59 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 135.9pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c88 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 171.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c70 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 91.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c61 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 75.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c76 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 139.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c44 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 134.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c10 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 77pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c32 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 165pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c57 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 311.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 136pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c37 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 159pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c56 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 164.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c42 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 174pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c11 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: middle;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 199.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c22 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 123.6pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c41 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 169.3pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c63 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 330.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c101 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 85.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c73 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 103.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c82 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 155pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c6 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 59.9pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c35 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 354.9pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c16 {
    -webkit-text-decoration-skip: none;
    color: #000000;
    font-weight: 400;
    text-decoration: underline;
    vertical-align: baseline;
    text-decoration-skip-ink: none;
    font-family: "Comfortaa";
    font-style: normal;
}

.c19 {
    color: #181818;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c1 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c2 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 9pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c68 {
    color: #666666;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Comfortaa";
    font-style: normal;
}

.c20 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Comfortaa";
    font-style: normal;
}

.c26 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c86 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Comfortaa";
    font-style: normal;
}

.c52 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: justify;
}

.c38 {
    margin-left: 18pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: justify;
}

.c79 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: center;
}

.c85 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: justify;
}

.c36 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Comfortaa";
    font-style: normal;
}

.c18 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: justify;
}

.c24 {
    margin-left: 36pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: justify;
}

.c45 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: justify;
}

.c93 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Comfortaa";
}

.c69 {
    margin-left: 54pt;
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: justify;
}

.c46 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    text-align: justify;
}

.c80 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: right;
}

.c81 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: center;
}

.c95 {
    padding-top: 10pt;
    padding-bottom: 4pt;
    line-height: 1;
    text-align: justify;
}

.c67 {
    padding-top: 10pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: justify;
}

.c100 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: justify;
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: center;
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
}

.c96 {
    padding-top: 0pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    text-align: justify;
}

.c103 {
    padding-top: 0pt;
    padding-bottom: 16pt;
    line-height: 1.15;
    text-align: center;
}

.c28 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}

.c21 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration: underline;
}

.c97 {
    background-color: #ffffff;
    max-width: 538.7pt;
    padding: 28.3pt 28.3pt 28.3pt 28.3pt;
}

.c54 {
    margin-left: 36pt;
    padding-left: 0pt;
}

.c25 {
    color: inherit;
    text-decoration: inherit;
}

.c30 {
    padding: 0;
    margin: 0;
}

.c14 {
    orphans: 2;
    widows: 2;
}

.c31 {
    color: #8e7cc3;
}

.c98 {
    font-size: 15pt;
}

.c43 {
    color: #bf9000;
}

.c99 {
    page-break-after: avoid;
}

.c50 {
    font-size: 16pt;
}

.c58 {
    height: 22pt;
}

.c72 {
    font-size: 30pt;
}

.c33 {
    color: #990000;
}

.c91 {
    height: 16pt;
}

.c8 {
    font-weight: 700;
}

.c84 {
    color: #ead1dc;
}

.c27 {
    height: 0pt;
}

.c92 {
    height: 22.2pt;
}

.c102 {
    height: 107.1pt;
}

.c90 {
    font-style: italic;
}

.c40 {
    font-size: 22pt;
}

.c71 {
    font-size: 12pt;
}

.c62 {
    color: #181818;
}

.c47 {
    color: #e69138;
}

.c5 {
    font-size: 10pt;
}

.c15 {
    color: #0b5394;
}

.c49 {
    height: 21pt;
}

.c13 {
    height: 11pt;
}

.c83 {
    color: #1155cc;
}

.c87 {
    font-size: 11pt;
}

.c55 {
    color: #d5a6bd;
}

.c34 {
    color: #38761d;
}

.c94 {
    font-size: 42pt;
}

.c65 {
    color: #b45f06;
}

.c51 {
    height: 24.2pt;
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center;
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Comfortaa";
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Comfortaa";
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 22pt;
    padding-bottom: 6pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Comfortaa";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: justify;
}
