$bg-color-header: #151311; // Couleur de fond la plus foncée
$bg-color-nav: #252321; // Couleur de fond entre-deux
$bg-color-content: #353331; // Couleur de fond la plus claire
$bg-color-nav-button: #353331; // Couleur de fond des boutons
$bg-color-nav-button-hover: #454341; // Couleur de fond des boutons hover
$bg-color-option-block: #555351; // Options
$bg-color-option-block-hover: #656361; // Options hover

$header-height: 50px;
$footer-height: 0px;
$nav-width: 200px;

$padding: 12px;
$border-radius: 4px;

.body {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $header-height;
            width: 100%;
            background-color: $bg-color-header;

            .menu-button {
                display: flex;
                align-items: center;
                margin-left: $padding;
                cursor: pointer;

                img {
                    height: 20px;
                    width: 20px;
                }
            }

            .block-title {
                display: flex;
                align-items: center;
                height: 100%;

                h1 {
                    cursor: pointer;
                    margin: 0px 12px;
                }

                .title,
                .title-small {
                    margin: 0px 12px;
                }

                .title-gold,
                .title-gold-small {
                    cursor: pointer;
                    color: #ffdb88;
                }

                .title-small,
                .title-gold-small {
                    display: none;
                }
            }

            .log-button {
                margin-right: $padding;
            }

            .groupped-imgs {
                display: flex;
                align-items: center;

                .user-button {
                    height: 20px;
                    width: 20px;
                    margin-right: 12px;
                    cursor: pointer;
                }

                .user-connected-button {
                    height: 32px;
                    width: 32px;
                    margin-right: 12px;
                    border-radius: 32px;
                    cursor: pointer;
                }

                .golden-crown {
                    height: 20px;
                    width: 20px;
                    margin-right: 12px;
                }
            }
        }

        .middle {
            display: flex;
            height: calc(100% - #{$header-height} - #{$footer-height});
            width: 100%;

            .nav {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: $nav-width;
                background-color: $bg-color-nav;
                overflow: auto;

                h3 {
                    font-weight: 400;
                    font-size: 16px;
                }

                .button {
                    display: flex;
                    align-items: center;
                    border-radius: $border-radius;
                    cursor: pointer;
                    margin: 6px 6px 0px 6px;
                    padding: 6px;

                    img {
                        height: 20px;
                        width: 24px;
                        margin-right: 6px;
                    }

                    span {
                        font-size: 15px;
                    }
                }

                .button:hover {
                    background-color: $bg-color-nav-button-hover;
                }
            }

            .content {
                display: flex;
                height: 100%;
                width: calc(100% - #{$nav-width});
                background-color: $bg-color-content;
                overflow: auto;

                .switch-component {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .footer {
            display: none;
            height: $footer-height;
            width: 100%;
        }
    }
}

@media screen and (max-width: 550px) {
    .body {
        .container {
            .header {
                .block-title {
                    .title,
                    .title-gold {
                        display: none;
                    }

                    .title-small,
                    .title-gold-small {
                        display: flex;
                    }
                }
            }
        }
    }
}
