<div class="body">
    <app-connect-center *ngIf="userMenu" [adminConnected]="adminConnected" [pwd]="pwd" [user]="user"
        [accountSettings]="accountSettings" (adminConnectionEmitter)="setAdminConnected($event)"
        (closeBoxEmitter)="setUserMenu($event)" (userEmitter)="setUser($event)">
    </app-connect-center>
    <div class="container">
        <div class="header">
            <div class="menu-button" *ngIf="menuDisplayed" (click)="toggleMenu()"><img
                    src="./assets/chevron-left-solid.svg" title="Modifier"></div>
            <div class="menu-button" *ngIf="!menuDisplayed" (click)="toggleMenu()"><img
                    src="./assets/chevron-right-solid.svg" title="Modifier"></div>
            <div class="block-title">
                <h1 [className]="adminConnected ? 'title-gold' : 'title'" (click)="reload()"
                    (auxclick)="openNewBlank()">Dictionnaire Dibi</h1>
            </div>
            <div class="groupped-imgs">
                <img *ngIf="adminConnected" class="golden-crown" src="assets/crown-solid.svg" title="Admin">
                <img *ngIf="!user" class="user-button" src="assets/user-solid.svg" (click)="openUserMenu()"
                    title="Connexion">
                <img *ngIf="user" class="user-connected-button" src="{{user.photoUrl}}" (click)="openUserMenu()"
                    title="Options utilisateur">
            </div>
        </div>
        <div class="middle">
            <div class="nav" #nav>

                <div [ngClass]="navigation === 'Dibi-infos' ? 'button-selected' : 'button'"
                    (click)="setNav('Dibi-infos')">
                    <img src="assets/circle-info-solid.svg">
                    <span>Accueil</span>
                </div>

                <div [ngClass]="navigation === 'Dibi-grammar-rules' ? 'button-selected' : 'button'"
                    (click)="setNav('Dibi-grammar-rules')">
                    <img src="assets/book-bookmark-solid.svg">
                    <span>Manuel</span>
                </div>

                <div [ngClass]="navigation === 'Dibi-dict' ? 'button-selected' : 'button'"
                    (click)="setNav('Dibi-dict')">
                    <img src="assets/book-solid.svg">
                    <span>Dictionnaire</span>
                </div>

                <div *ngIf="user && accountSettings"
                    [ngClass]="navigation === 'Dibi-suggest-word' ? 'button-selected' : 'button'"
                    (click)="setNav('Dibi-suggest-word')">
                    <img src="assets/circle-plus-solid.svg">
                    <span>Proposer</span>
                </div>

                <div *ngIf="user && accountSettings"
                    [ngClass]="navigation === 'Dibi-vote' ? 'button-selected' : 'button'" (click)="setNav('Dibi-vote')">
                    <img src="assets/square-poll-horizontal-solid.svg">
                    <span>Voter</span>
                </div>

                <div [ngClass]="navigation === 'New-word' ? 'button-selected' : 'button'" (click)="setNav('New-word')">
                    <img src="assets/circle-plus-solid.svg">
                    <span>Ajouter</span>
                </div>

                <!-- <div *ngIf="accountSettings" [ngClass]="navigation === 'Account' ? 'button-selected' : 'button'"
                    (click)="setNav('Account')">
                    <img src="assets/user-solid.svg">
                    <span>Compte</span>
                </div> -->

                <div *ngIf="adminConnected" [ngClass]="navigation === 'Logs' ? 'button-selected' : 'button'"
                    (click)="setNav('Logs')">
                    <img src="assets/file-lines-regular.svg">
                    <span>Logs</span>
                </div>


            </div>
            <div class="content" #content>
                <div class="switch-component" [ngSwitch]="navigation">

                    <ng-container *ngSwitchCase="'Infos'">
                        <app-infos></app-infos>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Flag'">
                        <app-flag [pixelSize]="pixelSize" [displayRegions]="displayRegions"></app-flag>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-infos'">
                        <app-dibi-infos [dibiDict]="dibiDict"></app-dibi-infos>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-dict'">
                        <app-dibi-dict [dibiDict]="dibiDict" [adminConnected]="adminConnected" [pwd]="pwd">
                        </app-dibi-dict>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-grammar-rules'">
                        <app-dibi-grammar [adminConnected]="adminConnected"></app-dibi-grammar>
                    </ng-container>

                    <ng-container *ngSwitchCase="'New-word'">
                        <app-dibi-new-word [adminConnected]="adminConnected" [pwd]="pwd"></app-dibi-new-word>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-suggest-word'">
                        <app-dibi-suggest [dibiDict]="dibiDict" [suggestions]="suggestions" [user]="user"
                            [accountSettings]="accountSettings">
                        </app-dibi-suggest>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-vote'">
                        <app-dibi-vote [dibiDict]="dibiDict" [suggestions]="suggestions" [user]="user"
                            [accountSettings]="accountSettings" [profiles]="profiles"></app-dibi-vote>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Dibi-word'">
                        <app-dibi-vote [dibiDict]="dibiDict" [suggestions]="suggestions" [user]="user"
                            [accountSettings]="accountSettings" [profiles]="profiles"></app-dibi-vote>
                    </ng-container>

                    <!-- <ng-container *ngSwitchCase="'Account'">
                        <app-account></app-account>
                    </ng-container> -->

                    <ng-container *ngSwitchCase="'Logs'">
                        <app-logs></app-logs>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                    </ng-container>

                </div>
            </div>
        </div>
        <div class="footer">
            <div [ngClass]="navigation === 'Dibi-infos' ? 'button-selected' : 'button'" (click)="setNav('Dibi-infos')">
                <img src="assets/circle-info-solid.svg">
                <span>Accueil</span>
            </div>

            <div [ngClass]="navigation === 'Dibi-grammar-rules' ? 'button-selected' : 'button'"
                (click)="setNav('Dibi-grammar-rules')">
                <img src="assets/book-bookmark-solid.svg">
                <span>Manuel</span>
            </div>

            <div [ngClass]="navigation === 'Dibi-dict' ? 'button-selected' : 'button'" (click)="setNav('Dibi-dict')">
                <img src="assets/book-solid.svg">
                <span>Dico</span>
            </div>

            <div *ngIf="user && accountSettings"
                [ngClass]="navigation === 'Dibi-suggest-word' ? 'button-selected' : 'button'"
                (click)="setNav('Dibi-suggest-word')">
                <img src="assets/circle-plus-solid.svg">
                <span>Proposer</span>
            </div>

            <div *ngIf="user && accountSettings" [ngClass]="navigation === 'Dibi-vote' ? 'button-selected' : 'button'"
                (click)="setNav('Dibi-vote')">
                <img src="assets/square-poll-horizontal-solid.svg">
                <span>Voter</span>
            </div>

            <div *ngIf="adminConnected" [ngClass]="navigation === 'New-word' ? 'button-selected' : 'button'"
                (click)="setNav('New-word')">
                <img src="assets/circle-plus-solid.svg">
                <span>Ajouter</span>
            </div>

            <!-- <div *ngIf="adminConnected" [ngClass]="navigation === 'Logs' ? 'button-selected' : 'button'"
                (click)="setNav('Logs')">
                <img src="assets/file-lines-regular.svg">
                <span>Logs</span>
            </div> -->

            <div class="button" (click)="openUserMenu()">
                <img *ngIf="!adminConnected" src="assets/user-solid.svg">
                <img *ngIf="adminConnected" src="assets/crown-solid.svg">
                <span>Admin</span>
            </div>

            <!-- <div class="user-bubble-button">
                <img *ngIf="!user" class="user-button" src="assets/user-solid.svg" (click)="openUserMenu()"
                    title="Connexion">
                <img *ngIf="user" class="user-connected-button" src="{{user.photoUrl}}" (click)="openUserMenu()"
                    title="Options utilisateur">
            </div> -->
        </div>
    </div>
</div>