<div class="body">
    <app-connect-center *ngIf="userMenu" [adminConnected]="adminConnected" [pwd]="pwd" [user]="user"
        (adminConnectionEmitter)="setAdminConnected($event)" (closeBoxEmitter)="setUserMenu($event)"
        (userEmitter)="setUser($event)">
    </app-connect-center>
    <div class="container">
        <div class="header">
            <div class="menu-button" *ngIf="menuDisplayed" (click)="toggleMenu()"><img
                    src="./assets/chevron-left-solid.svg" title="Modifier"></div>
            <div class="menu-button" *ngIf="!menuDisplayed" (click)="toggleMenu()"><img
                    src="./assets/chevron-right-solid.svg" title="Modifier"></div>
            <div class="block-title">
                <h1 [className]="adminConnected ? 'title-gold' : 'title'" (click)="reload()"
                    (auxclick)="openNewBlank()">Dictionnaire Dibi</h1>
                <h1 [className]="adminConnected ? 'title-gold-small' : 'title-small'" (click)="reload()"
                    (auxclick)="openNewBlank()">Dibi</h1>
            </div>
            <div class="groupped-imgs">
                <img *ngIf="adminConnected" class="golden-crown" src="assets/crown-solid.svg" title="Admin">
                <img *ngIf="!user" class="user-button" src="assets/user-solid.svg" (click)="openUserMenu()"
                    title="Connexion">
                <img *ngIf="user" class="user-connected-button" src="{{user.photoUrl}}" (click)="openUserMenu()"
                    title="Options utilisateur">
            </div>
        </div>
        <div class="middle">
            <div class="nav" #nav>

                <div class="button" (click)="setNav('Dibi-infos')">
                    <img src="assets/circle-info-solid.svg">
                    <span>Infos</span>
                </div>

                <div class="button" (click)="setNav('Dibi-dict')">
                    <img src="assets/book-solid.svg">
                    <span>Dictionnaire</span>
                </div>

                <div *ngIf="user" class="button" (click)="setNav('Dibi-suggest-word')">
                    <img src="assets/circle-plus-solid.svg">
                    <span>Proposer</span>
                </div>

                <div *ngIf="user" class="button" (click)="setNav('Dibi-vote')">
                    <img src="assets/square-poll-horizontal-solid.svg">
                    <span>Voter</span>
                </div>

                <!-- <div class="button" (click)="setNav('Dibi-grammar-rules')">
                <span>Grammaire</span>
                </div> -->

                <div *ngIf="adminConnected" class="button" (click)="setNav('Logs')">
                    <img src="assets/file-lines-regular.svg">
                    <span>Logs</span>
                </div>


            </div>
            <div class="content" #content>
                <div class="switch-component" [ngSwitch]="navigation">
                    <ng-container *ngSwitchCase="'Infos'">
                        <app-infos></app-infos>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Flag'">
                        <app-flag [pixelSize]="pixelSize" [displayRegions]="displayRegions"></app-flag>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Dibi-infos'">
                        <app-dibi-infos></app-dibi-infos>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Dibi-dict'">
                        <app-dibi-dict [adminConnected]="adminConnected" [pwd]="pwd"></app-dibi-dict>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Dibi-suggest-word'">
                        <app-dibi-suggest [user]="user"></app-dibi-suggest>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Dibi-vote'">
                        <app-dibi-vote></app-dibi-vote>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Logs'">
                        <app-logs></app-logs>
                    </ng-container>
                    <ng-container *ngSwitchDefault>

                    </ng-container>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</div>