<div class="body">
    <div class="container">
        <div class="header">
            <h1>Dibi Dictionary</h1>
            <p>Dibi Dictionary a pour vocation de répertorier l'ensemble des mots de la langue Dibi.</p>
            <h1>Ressources</h1>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/discord-brands.svg" alt="Logo Discord">
                </div>
                <a href="https://discord.gg/urcNPWqjS7" target="_blank">Discord officiel</a>
            </div>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/book-solid.svg" alt="Logo Dictionnaire">
                </div>
                <a href="https://leksiro.disly.fr/" target="_blank">Leksiro, dictionnaire léger</a>
            </div>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/magnifying-glass-solid.svg" alt="Logo loupe pour moteur de recherche Dibi">
                </div>
                <a href="https://clikari.disly.fr/" target="_blank">Clikari, moteur de recherche Dibi</a>
            </div>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/graduation-cap-solid.svg"
                        alt="Logo graduation cap pour le site 'Apprendre le Dibi avec Blatha'">
                </div>
                <a href="https://sites.google.com/view/apprendre-le-dibi-avec-blatha/accueil" target="_blank">Apprendre
                    le Dibi avec Blatha</a>
            </div>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/list-solid.svg" alt="Logo JSON">
                </div>
                <a href="https://dibi-dictionary.onrender.com/dictionary/getWords/all" target="_blank"
                    type="text/html">Dictionnaire complet JSON</a>
            </div>
            <div class="logo-and-link">
                <div class="img">
                    <img src="assets/github-brands.svg" alt="Logo GitHub">
                </div>
                <a href="https://github.com/MarioVieilledent/DirtyPazu-Client" target="_blank">GitHub web app</a>
            </div>
            <!-- <div class="logo-and-link">
                <div class="img">
                    <img src="assets/github-brands.svg" alt="Logo GitHub">
                </div>
                <a href="https://github.com/MarioVieilledent/DirtyPazu-Server" target="_blank">GitHub du
                    serveur Node.js</a>
            </div> -->
        </div>
        <div class="content">
            <h1>Statistiques</h1>
            <div class="block">
                <div class="title">
                    <h2>Des chiffres</h2>
                </div>
                <div class="elements">
                    <div *ngIf="dibiDict" class="element">
                        <h3>Mots Dibi</h3>
                        <span class="number">{{dibiDict.length}}</span>
                    </div>
                    <div *ngFor="let partOfSpeech of nbPartsOfSpeech" class="element">
                        <h3 [className]="partOfSpeech.savedAs">{{partOfSpeech.label}}</h3>
                        <span [className]="'number ' + partOfSpeech.savedAs">{{partOfSpeech.nb}}</span>
                    </div>
                </div>
            </div>
            <div class="block chart">
                <div class="title">
                    <h2>Répartition des mots selon leur nature grammaticale</h2>
                </div>
                <!-- <canvas id="pieChart" width="400" height="400"></canvas> -->
                <canvas class="pie-chart" baseChart [options]="options" [data]="pieChartData" [labels]="pieChartLabels"
                    [colors]="pieChartColors" [chartType]="'pie'"></canvas>
            </div>
            <div class="block chart">
                <div class="title">
                    <h2>Taille du dictionnaire en fonction du temps</h2>
                </div>
                <canvas class="line-chart" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                    [options]="barChartOptions" [legend]="barChartLegend" [chartType]="'line'">
                </canvas>
            </div>
            <div class="block chart">
                <div class="title">
                    <h2>Nombres de mots dans le dictionnaire selon leur nature grammaticale en fonction du temps</h2>
                </div>
                <canvas class="line-chart" baseChart [datasets]="barChartDataNG" [labels]="barChartLabelsNG"
                    [options]="barChartOptionsNG" [legend]="barChartLegendNG" [chartType]="'line'">
                </canvas>
            </div>
        </div>
    </div>
</div>