$padding: 12px;
$border-radius: 4px;
$border: 1px solid #757473;

$box-color: #454443;
$hover-color: #3f3e3d;
$selected-color: #393837;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(50px + 24px) $padding $padding $padding;
    background-color: rgba(0, 0, 0, 0.2);

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 550px;
        overflow: auto;
        background-color: $box-color;
        border: $border;
        border-radius: $border-radius;
        padding: $padding;

        .header {
            display: flex;
            width: 100%;
            height: 32px;
        }

        .google-account,
        .admin {
            display: flex;
            width: 100%;
            height: calc(50% - 16px);

            h3 {
                margin-bottom: $padding;
            }

            .user-display {
                display: flex;
                margin: $padding 0px 0px 0px;

                img {
                    height: 96px;
                    width: 96px;
                    border-radius: 96px;
                    margin-bottom: 6px;
                }

                h4 {
                    font-size: 16px;
                    margin-bottom: 6px;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 6px;
                }

                .text-infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 24px;
                }
            }

            .admin-section {
                display: flex;
                flex-direction: column;

                .margin-bottom {
                    margin-bottom: $padding;
                }
            }
        }

        .left,
        .right {
            width: 50%;
        }
    }
}
