<div class="container" id="zone-click-exit">
    <div class="box">
        <div class="header">
            <h2>Centre de connexion</h2>
        </div>
        <div class="accounts">
            <div class="google-account">
                <h3 *ngIf="user" class="margin-bottom">Compte Google connecté</h3>
                <h3 *ngIf="!user" class="margin-bottom">Connexion compte Google</h3>
                <div class="google-info">
                    <div class="user-display" *ngIf="user">
                        <img src="{{user.photoUrl}}">
                        <div class="text-infos">
                            <h4>{{user.name}}</h4>
                            <p>{{user.email}}</p>
                        </div>
                    </div>
                </div>
                <h3 *ngIf="user">Informations profil</h3>
                <div class="account-setup" *ngIf="user">
                    <span>Saisir pseudo Discord</span>
                    <div class="inline-inputs" *ngIf="accountSettings">
                        <input [(ngModel)]="accountSettings.discordPseudo" type="text" class="pseudo"
                            (focusout)="saveAccountSettings()">
                        <span>#</span>
                        <input [(ngModel)]="accountSettings.discordTag" type="text" class="tag" placeholder="1234"
                            (focusout)="saveAccountSettings()">
                        <img *ngIf="!accountSettings.discordPseudo || !accountSettings.discordTag" class="mandatory"
                            src="assets/mandatory.svg">
                    </div>
                </div>
                <button *ngIf="!user" (click)="signInWithGoogle()">Connexion via Google</button>
                <button *ngIf="user" (click)="signOut()">Déconnexion Google</button>
            </div>
            <div class="admin">
                <div class="admin-section" *ngIf="adminConnected">
                    <div class="crown-and-title margin-bottom">
                        <img class="golden-crown" src="assets/crown-solid.svg" title="Admin">
                        <h3>Vous êtes Admin</h3>
                    </div>
                    <button *ngIf="adminConnected" (click)="logoutAdmin()">Déconnexion admin</button>
                </div>
                <div class="admin-section" *ngIf="!adminConnected">
                    <h3 class="margin-bottom">Connexion Admin</h3>
                    <input class="margin-bottom" type="password" [(ngModel)]="password">
                    <span class="margin-bottom" *ngIf="errorMessage">{{errorMessage}}</span>
                    <button (click)="connectAdmin()">Entrer</button>
                </div>
            </div>
        </div>
    </div>
</div>