<div class="container" id="zone-click-exit">
    <div class="box">
        <div *ngIf="!adminConnected" class="admin-connection">
            <h3>Mot de passe admin</h3>
            <input type="password" [(ngModel)]="password">
            <span class="error-message" *ngIf="errorMessage">{{errorMessage}}</span>
            <button (click)="connectAdmin()">Entrer</button>
        </div>
        <div *ngIf="adminConnected" class="admin-connected">
            <div class="header">
                <h3>Bienvenue !</h3>
                <button (click)="logout()">Déconnexion</button>
            </div>
            <div class="user-manager">
                <div class="users">
                    <div class="user" *ngFor="let user of users">
                        <span  class="pseudo-style" [style.color]="user.color.hex">{{user.pseudo}}</span>
                        <span>{{user.discordTagName}}</span>
                    </div>
                </div>
                <div class="new-user">
                    <ng-container *ngIf="creatingNewUser; else elseTemplate">
                        <div class="new-user-form">
                            <div class="block">
                                <label>Pseudo affiché</label>
                                <input class="pseudo-style" [style.color]="newUser.color.hex" type="text" [(ngModel)]="newUser.pseudo">
                            </div>
                            <div class="block">
                                <label>Pseudo Discord avec code à 4 chiffres</label>
                                <input type="text" [(ngModel)]="newUser.discordTagName">
                            </div>
                            <div class="block">
                                <label >Couleur</label>
                                <div class="color-selector">
                                    <div title="{{color.name}}" [className]="newUser.color.hex === color.hex ? 'color-selected' : 'color'" [style.background]="color.hex" *ngFor="let color of colors" (click)="setColorNewUser(color)">
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <button (click)="creatingNewUser = false">Annuler</button>
                                <button (click)="addNewUser()">Créer</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button (click)="initNewUser()">Nouvel utilisateur</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>