
$padding: 12px;
$border-radius: 4px;
$border: 1px solid #757473;

$box-color: #454443;
$hover-color: #3f3e3d;
$selected-color: #393837;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: calc(50px + 24px) $padding $padding $padding;
    background-color: rgba(0, 0, 0, 0.2);

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 550px;
        overflow: auto;
        background-color: $box-color;
        border: $border;
        border-radius: $border-radius;
        padding: $padding;

        .admin-connection {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            * {
                margin-bottom: $padding;
            }

            .error-message {
                color: #E88;
            }
        }

        .admin-connected {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: $padding;
            }

            .user-manager {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;

                .users {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .user, .selected-user {
                        display: flex;
                        justify-content: space-between;
                        border-radius: $border-radius;
                        padding: calc(#{$padding} / 2) $padding;
                        cursor: pointer;

                        .names {
                            display: flex;
                            flex-direction: column;
                            flex-grow: 1;
                            height: 100%;

                            .pseudo-style {
                                margin-right: $padding;
                            }
                        }

                        .options {
                            display: flex;
                            align-items: center;
                            height: 100%;

                            img {
                                margin-left: $padding;
                                height: 18px;
                                width: 18px;
                                cursor: pointer;
                            }
                        }
                    }

                    .user:hover, .selected-user {
                        background-color: $hover-color;
                    }

                    .selected-user {
                        background-color: $selected-color;
                    }
                }

                .new-user {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    margin-top: $padding;

                    .new-user-form {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;
                        border: $border;
                        border-radius: $border-radius;
                        padding: $padding;

                        .block {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: $padding;

                            label {
                                margin-bottom: 6px;
                            }

                            .color-selector {
                                display: flex;

                                .color, .color-selected {
                                    border-radius: 24px;
                                    height: 24px;
                                    width: 24px;
                                    margin-right: $padding;
                                    cursor: pointer;
                                }

                                .color {
                                    opacity: 0.5;
                                }

                                .color-selected {
                                    border: 1px solid white;
                                }
                            }
                        }

                        .buttons {
                            display: flex;

                            button {
                            margin-right: $padding;
                            }
                        }
                    }
                }
            }
        }
    }
}

.pseudo-style {
    font-size: 16px;
    font-weight: 700;
}