
$bg-color-done-row: #355531;
$bg-color-not-done-row: #353331;
$bg-color-done-row-hover: #44663f;
$bg-color-not-done-row-hover: #454341;

$top-height: 100px;

$padding: 12px;
$border-radius: 4px;
$border: 1px solid #999;

$row-height: 24px;
$memo-width: 100px;


.body {
    display: flex;
    padding: $padding;
    height: 100%;
    width: 100%;
    
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .header {
            display: flex;
            justify-content: space-between;
            height: $top-height;
            padding-bottom: $padding;
            width: 100%;
            
            .left {
                padding-right: $padding;

                button {
                    margin-right: $padding;
                }
            }
            
            .middle {
                display: flex;
                align-items: center;

                .dl-json {
                    margin-right: $padding;
                    cursor: pointer;
                }

                .infos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .search-options {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                
                .percent {
                    padding-left: $padding;
                }
            }
            
            .right {
                padding-left: $padding;

                button {
                    margin-left: $padding;
                }
            }

            .left, .right {
                display: flex;
                align-items: center;
                cursor: pointer;

                button {
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }
            }
        }

        .list {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: auto;
            padding: $padding;

            .rowDone, .rowNotDone {
                display: flex;
                height: $row-height;

                .float-left {
                    display: flex;
                    height: 100;
                    width: $row-height;

                    .toggle-done {
                        width: $row-height;

                        .toggle-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            height: 100%;
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }
                }

                .fit-width {
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    width: calc(100% - #{$row-height});

                    .english-word {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        height: 100%;
                        width: calc(50% - (#{$memo-width} / 2));
        
                        span {
        
                        }
                    }

                    .memo {
                        display: flex;
                        height: 100%;
                        width: $memo-width;
                        margin: 0px $padding;
                    }
        
                    .dibi-word {
                        display: flex;
                        width: calc(50% - (#{$memo-width} / 2));
                        height: 100%;
                    }
        
                    input {
                        width: 100%;
                        border: none;
                        background-color: transparent;
                    }

                    input:focus {
                        // background-color: $bg-color-row-hover;
                    }
                }
            }

            .rowDone {
                background-color: $bg-color-done-row;
            }
            
            .rowNotDone {
                background-color: $bg-color-not-done-row;
            }

            .rowDone:hover {
                background-color: $bg-color-done-row-hover;
            }
            
            .rowNotDone:hover {
                background-color: $bg-color-not-done-row-hover;
            }
        }
    }
}