
<div class="body">
    <div class="container">
        <div class="header">
            <div class="left">
                <button (click)="moveFull('left')">&lt;&lt;</button>
                <button (click)="move('left')">&lt;</button>
            </div>
            <div class="middle">
                <button class="dl-json" (click)="download()">dl json</button>
                <div class="infos">
                    <span>[{{min + 1}} - {{max + 1}}] / {{nbTot}}</span>
                    <span class="percent">Progression : {{percentDone.toFixed(2)}} %</span>
                </div>
            </div>
            <div class="right">
                <button (click)="move('right')">&gt;</button>
                <button (click)="moveFull('right')">&gt;&gt;</button>
            </div>
        </div>
        <div *ngIf="!wordList">
            <h3>Chargement des mots Minecraft...</h3>
        </div>
        <!-- <div *ngIf="wordList" class="list">
            <div [className]="word.done ? 'rowDone' : 'rowNotDone'" *ngFor="let word of wordList">
                <div class="toggle-done">
                    <div class="toggle-button" *ngIf="word.done" (click)="toggleDone(word, false)"><span>-</span></div>
                    <div class="toggle-button" *ngIf="!word.done" (click)="toggleDone(word, true)"><span>+</span></div>
                </div>
                <div class="english-word">
                    <span type="text">{{word.english}}</span>
                </div>
                <div class="dibi-word">
                    <input type="text" value="{{word.dibi}}" (focusout)="editWord(word, $event)">
                </div>
            </div>
        </div> -->
        <div *ngIf="workingWordList" class="list">
            <div [className]="word.done ? 'rowDone' : 'rowNotDone'" *ngFor="let word of workingWordList">
                <div class="float-left">
                    <div class="toggle-done">
                        <div class="toggle-button" *ngIf="word.done" (click)="toggleDone(word, false)"><span>-</span></div>
                        <div class="toggle-button" *ngIf="!word.done" (click)="toggleDone(word, true)"><span>+</span></div>
                    </div>
                </div>
                <div class="fit-width">
                    <div class="english-word">
                        <span type="text">{{word.english}}</span>
                    </div>
                    <div class="memo">
                        <span>{{word.memo ? word.memo : ''}}</span>
                    </div>
                    <div class="dibi-word">
                        <input type="text" value="{{word.dibi}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>