$padding: 12px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    height: -webkit-fill-available;
}

body {
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    background-color: #151311;
}

input,
button,
select,
textarea {
    border: none;
    background-color: #555453;
    border-radius: 4px;
    padding: 6px;
}

button {
    cursor: pointer;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
    outline: none;
}

::placeholder {
    color: #aaa;
}

// Couleurs et style des natures grammaticales

.Noun,
.Pronoun,
.Verb,
.Adjective,
.Adverb,
.Conjonction,
.FunctionParticule,
.TransformationParticule,
.SpiritWord,
.Interjection {
    font-weight: 600;
}

.Noun {
    color: #8ae;
}
.Pronoun {
    color: #8ee;
}
.Verb {
    color: #e88;
}
.Adjective {
    color: #8e8;
}
.Adverb {
    color: #ea8;
}
.Conjonction {
    color: #e8e;
}
.FunctionParticule {
    color: #ee8;
}
.TransformationParticule {
    color: #ee8;
}
.SpiritWord {
    color: #395;
}
.Interjection {
    color: #a8e;
}

// Style des scrollbars

::-webkit-scrollbar {
    width: $padding;
    height: $padding;
    margin-right: $padding;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2a2826;
    border-radius: $padding;
}
